/* GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css?family=Sigmar+One");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* CUSTOM PROPERTIES */

:root {
    --title-font-family: "Sigmar One", serif;
    --default-font-family: "Roboto", sans-serif;

    --default-text-color: #111;
    --neutral-color: #7e7d7d;

    --primary-color: #cb7902;
    --primary-background-color: white;
    --secondary-background-color: #800000;
    --card-background-color: #eed9b8;
}

/* RESET */

h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    line-height: 1;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.flow-content > * + * {
    margin-top: 1rem;
}

.container {
    padding: 1rem;
}

/* LAYOUT */

body {
    background: var(--primary-background-color);
    color: var(--default-text-color);
    font-family: var(--default-font-family);
    margin: 0 auto;
    max-width: 70rem;
    overflow-x: hidden;
}

/* BUTTONS */

.button {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.button:hover,
.button:active {
    color: white;
}

/* LINKS */

a {
    color: white;
    font-family: var(--default-font-family);
}

a:hover,
a:active {
    color: rgb(150, 141, 141);
}